body {
  margin: 0;
  
}

.marge {
    margin-top: 5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.containerList {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    gap: 10px;
}

.centered {
    display: grid;
    place-items: center;
    
}

.plusminus{
    margin-bottom: 1ch;
}